.netrwhist
npm-debug.log

plug.vim.old

config/nvim/spell
config/nvim/shada
config/nvim/plugged
config/nvim/autoload/plug.vim

config/nvim/backup
config/nvim/.viminfo
config/nvim/.viminfo.tmp*

config/.atom/packages
config/.atom/.atom-socket*

tmux/.tmux/*
tmux/resurrect
