"*":
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      autoVisibility: true
    use: {}
  core:
    customFileTypes:
      "source.shell": [
        "spec"
        "p9k"
      ]
    disabledPackages: [
      "language-gfm"
      "wrap-guide"
      "language-shellscript"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
    ]
    projectHome: "/Users/chris/code"
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  "custom-title":
    template: "<%= projectName %> <% if (relativeFilePath) { %>- <%= relativeFilePath %> <% } %> - <%= gitHead %>"
  editor:
    fontFamily: "SourceCodePro Nerd Font"
    fontSize: 13
    invisibles: {}
    lineHeight: 1.25
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "7be2cba7-75b5-463d-86e8-b35354a56494"
  "git-plus":
    remoteInteractions:
      promptForBranch: true
  "highlight-line":
    enableSelectionBorder: true
    enableUnderline: true
  "highlight-selected":
    hideHighlightOnSelectedWord: true
    highlightBackground: true
    showResultsOnScrollBar: true
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "minimap-git-diff":
    useGutterDecoration: true
  "omni-ruler":
    columns: [
      "60"
      "72"
      "80"
      "100"
    ]
    customRulerColor: "#212121"
    useCustomRulerColor: true
  "one-dark-ui":
    fontSize: 12
  "platformio-ide-terminal":
    style:
      fontFamily: "SourceCodePro Nerd Font"
      fontSize: "9"
  "seti-syntax": {}
  "seti-ui":
    compactView: true
  "show-invisibles-plus":
    show: false
  "tool-bar": {}
  "tool-bar-markdown-writer": {}
  "tree-view":
    alwaysOpenExisting: true
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
