packages: [
  "atom-beautify"
  "atom-ide-ui"
  "atom-reverser"
  "auto-detect-indentation"
  "auto-reveal-in-sidebar"
  "autocomplete-gas"
  "browse"
  "browser-plus"
  "busy-signal"
  "city-lights-icons"
  "color-picker"
  "compare-files"
  "cursor-history"
  "cursor-indicator"
  "custom-title"
  "expose"
  "git-plus"
  "highlight-line"
  "highlight-nanorc"
  "highlight-selected"
  "indent-guide-improved"
  "intentions"
  "language-applescript"
  "language-awk"
  "language-ini"
  "language-markdown"
  "language-todotxt-plus"
  "language-unix-shell"
  "language-viml"
  "language-xst"
  "local-storage"
  "markdown-folding"
  "markdown-scroll-sync"
  "markdown-table-editor"
  "markdown-writer"
  "merge-conflicts"
  "minimap"
  "minimap-bookmarks"
  "minimap-cursorline"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-pigments"
  "minimap-selection"
  "multi-cursor-plus"
  "omni-ruler"
  "open-in-developer-mode"
  "open-package"
  "open-recent"
  "package-sync"
  "pigments"
  "platformio-ide-terminal"
  "print-atom"
  "print-code"
  "project-manager"
  "rename-tabs"
  "satisfy-dependencies"
  "scroll-marker"
  "seti-icons"
  "seti-syntax"
  "seti-ui"
  "show-invisibles-plus"
  "simple-drag-drop-text"
  "sort-lines"
  "sorter"
  "sublime-block-comment"
  "Sublime-Style-Column-Selection"
  "tabs-to-spaces"
  "todo-show"
  "tool-bar"
  "tool-bar-markdown-writer"
  "vim-modeline"
  "wordcount"
]
